body {
  background: #f4f7fb;
}

.product-3d {
  transition: all 0.3s ease;
}

.product-card {
  border-radius: 12px;
  transition: transform 0.3s ease;
}

.product-card:hover {
  transform: translateY(-6px);
}

.img-wrapper {
  height: 200px;
  overflow: hidden;
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.price {
  font-weight: bold;
  color: green;
}

